<h1 class="jumbotron">
  jonander.info
</h1>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Jon Ander Astorqui</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a routerLink="/" routerLinkActive="active"><md-icon>home</md-icon>{{ 'index' | translate }}</a></li>
      <li><a routerLink="/ejemplo" routerLinkActive="active"><md-icon>refresh</md-icon>{{ 'ejemplo' | translate }}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" (click)="changeLang('es')"><img src="assets/spain.png"> {{ 'castellano' | translate }}</a></li>
      <li><a href="#" (click)="changeLang('en')"><img src="assets/eeuu.png"> {{ 'ingles' | translate }}</a></li>
      
    </ul>

  </div>
</nav>
  <router-outlet></router-outlet>
